.place__image {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 505px) {
    .place__image {
        max-width: 100%;
        margin-bottom: 10%;
        overflow: hidden;
    }
}