.footer__columns {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

@media (max-width: 646px) {
    .footer__columns {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .footer__columns {
        flex-direction: column;
    }
}