@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 77%;
    margin: auto;
    padding-top: 4.9%;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 90.6%;
        padding-top: 5.5%;
    }
}

@media (max-width: 768px) {
    .lead {
        max-width: 100%;
        padding-top: 7.2%;
    }
}

@media (max-width: 425px) {
    .lead {
        padding-top: 15%;
    }
}