.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    max-width: 30.4%;
    margin: 2.2% 0 20.7%;
    text-decoration-line: none;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        max-width: 35%;
        margin: 2.8% 0 19%;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        max-width: 47%;
        margin: 3.5% 0 15%;
    }
}

@media (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 87%;
        margin: 4% 0 9.2%;

    }
}
