.places__place_website {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: end;
    margin-bottom: 1%;
}

.places__place_website:hover {
    cursor: pointer;
}

@media (max-width: 505px) {
    .places__place_website {
        display: none;
    }
}