.footer__column-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 646px) {
    .footer__column-copyright {
        margin-top: 5%;
        line-height: 14px;
        text-align: left;
    }
}

@media (max-width: 320px) {
    .footer__column-copyright {
        margin-top: 5%;
        line-height: 14px;
        text-align: left;
    }
}