.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    margin: 0 5% 6.7% 0;
    transition: ease-in 0.3s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media (max-width: 646px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
}