.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
    margin: 0 13.4% 2.8%;
}

@media (max-width: 768px) {
    .lead__title {
        margin: 0 0 3.2%;
    }
}

@media (max-width: 680px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 13.4% 5%;
    }
}

