.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #FFFFFF;
    max-width:100%;
    margin: 0 0 24px;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
}

@media (max-width: 505px) {
    .place__paragraph {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin: 0 5% 0;
    }
    .place__paragraph:last-of-type {
        margin: 0 5% 0;
    }
}