@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-caption/intro__list-caption.css);


.intro {
    max-width: 54%;
    padding: 7.2% 23% 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .intro {
        max-width: 67.4%;
        padding: 9% 27.9% 0 5%;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 93.7%;
        padding: 11% 0 0;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 90%;
        padding: 20% 0 0;
    }
}