@import url(./_title/places__place_title.css);
@import url(./_image/places__place_image.css);
@import url(./_website/places__place_website.css);
@import url(./_url-heading/places__place_url-heading.css);
@import url(./_link/places__place_link.css);
@import url(./_paragraphs/places__place_paragraphs.css);
@import url(./_paragraph/places__place_paragraph.css);


.places__place {
    max-width: 100%;
    display: grid;
    grid-template-columns: 46.7% auto;
    grid-template-rows: min-content auto;
    gap: 40px 4%;
    padding: 0;
    margin: 0 0 8.8%;
}

.places__place:last-of-type {
    margin: 0;
}

@media (max-width: 1024px) {
    .places__place {
        grid-template-columns: 47.3% auto;
        margin: 0 0 9.6%;
    }
}

@media (max-width: 768px) {
    .places__place {
        margin-bottom: 11%;
    }
}

@media (max-width: 505px) {
    .places__place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 48px;
    }
}