@import url(./__column-links/footer__column-links.css);
@import url(./__link/footer__link.css);
@import url(./__column-copyright/footer__column-copyright.css);


.footer {
    margin: auto;
    max-width: 92.5%;
    display: flex;
    justify-content: space-between;
}

@media  (max-width: 646px) {
    .footer {
        max-width: 90%;
        margin: 22% auto 7.5%
        flex-direction: column;
    }
}
