.footer__column-links {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 646px) {
    .footer__column-links {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 320px) {
    .footer__column-links {
        flex-direction: column;
        flex-wrap: wrap;
    }
}